*,
h1 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  width: 550px;
  height: 868px;
  background-color: #23252C;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.profile {
  margin-top: 50px;
  width: 315px;
  height: 317px;
  background: url("images/rectangle.png") no-repeat;
  border: 2px solid transparent;
  border-radius: 10px;
  align-self: center;

}

.block {
  display: flex;
  width: 317px;
  height: 400px;
  background-color: #1A1B21;
  flex-direction: column;
  align-content: center;
  align-self: center;
}

.name {
  color: #FFFFFF;
  padding-top: 16px;
  font-size: 25px;
  font-style: bold;
  text-align: center;
}