*,
h1 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  width: 550px;
  height: 868px;
  background-color: #23252C;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.profile {
  margin-top: 50px;
  width: 315px;
  height: 317px;
  background: url("images/rectangle.png") no-repeat;
  border: 2px solid transparent;
  border-radius: 10px;
  align-self: center;

}