*,
h1 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #23252C;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.profile {
  margin-top: 50px;
  width: 315px;
  height: 317px;
  background: url("./Images/profile.png") no-repeat;
  background-size: 315px 317px;
  border: 2px solid transparent;
  border-radius: 10px;
  align-self: center;

}

.block {
  display: flex;
  width: 317px;
  height: 400px;
  background-color: #1A1B21;
  flex-direction: column;
  align-content: center;
  align-self: center;
}

.name {
  color: #FFFFFF;
  padding-top: 16px;
  font-size: 25px;
  font-style: bold;
  text-align: center;
}

.front {
  color: #F3BF99;
  font-size: 12px;
  text-align: center;
}

.web {
  color: #F5F5F5;
  font-size: 10px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 30px;
  text-decoration: none;
}

.about {
  margin: 30px 43px 0px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F5F5F5;
  font-size: 11px;
}

.interest {
  align-self: flex-start;
  font-size: 16px;
  margin-bottom: 4px
}

.email,
.linke {

  border: 2px solid transparent;
  background-color: #D1D5DB;
  padding: 10px 29px 10px 40px;
  margin: 15px 10px 0px 36px;
  border-radius: 7px;
  font-size: 14px;
  color: #374151;

}

.linke {
  padding: 10px 30px 10px 40px;
  margin-left: 5px;
  background-color: #5093E2;
  color: white;

}

.footer {
  width: 317px;
  height: 64px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}